- @deals.each_with_index do |d,i|
  .well.deal.row
    %div.avatar
      = image_tag(d.profile_image_url) 
    %div.span10
      .author
        = d.from_user
        = link_to("@#{d.from_user}", "http://twitter.com/#{d.from_user}", :target => '_blank') unless d.from_user.blank?
      .text!= auto_link d.text, :html => { :target => '_blank' }
      .date
        = link_to d.created_at
 